/********** Style.css **********/
/*** by Julia ******************/

/********** Elementos Principais **********/
*{
	font-family: 'Rubik', sans-serif;
}

body{
	margin:0;
	background-color:#494949;
}

.container{
	padding:0px 80px;
}

/********** Elementos Gerais **********/
#conteudo-pagina{
	width:100%;
	height:4000px;
}

.tit-geral{
	color:white;
}

.txt-geral{
	color:white;
	font-size:18px;
}

.btn-geral {
    color: white;
    text-decoration: none;
    font-size: 18px;
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 50px;
}

.btn-geral:hover {
    color: #a805c3;
	font-weight: 600;
    background: white;
	padding: 10px 15px!important;
}

.icn-btn-geral {
    display: none!important;
    padding-left: 5px;
}

.btn-geral:hover .icn-btn-geral {
    display: inline!important;
}

.breadcrumbs .tit-geral {
    padding: 150px 80px 0px 80px;
	margin:0;
	font-size: 50px;
}

.breadcrumbs .txt-geral {
    padding: 0px 80px 80px 80px;
	font-size: 25px;
	margin-bottom: 0px;
}

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
}

/********** Menu Principal **********/
.barra-nav{
	height: 80px;
    position: fixed;
    width: 100%;
}

#menu-principal{
	width:100%!important;
	position:fixed;
	height: 280px;
}

.img-logo{
	max-height:65px;
	padding: 10px 0;
}

.nav-colored {
	overflow: hidden;
	width:100%;
	box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.5);
	background-color: #3e3e3e;
	animation: slide 0.5s forwards;
}

#btns-nav > a {
  float: left;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 28px 16px;
  text-decoration: none;
}

.item-menu-pai {
  float: left;
  overflow: hidden;
}

.item-menu-pai .btn-item-menu-pai {
  font-size: 20px;  
  border: none;
  border-radius: 0px;
  outline: none;
  color: white;
  padding: 28px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

#btns-nav .btns-nav a:hover, .item-menu-pai:hover .btn-item-menu-pai, #btns-nav > a:hover {
  border-bottom: 5px solid #a805c3;
  padding: 25px 16px!important;
}

.item-menu-cont {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.item-menu-cont a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  background-color:#858585;
  display: block;
  text-align: left;
  font-size:18px;
}

.item-menu-cont a:hover {
  color: #a505c0;
}

.item-menu-pai:hover .item-menu-cont {
  display: block;
  position: fixed;
}

#btns-nav{
	float:right;
}

#logo-nav{
	float:left;
}

.fa-chevron-down {
    font-size: 12px;
}

a.btn-menu-download:after {
    background-color: #a805c3;
    content: "Beta";
    color: white;
    font-size: 14px;
    padding: 2px 5px;
    position: absolute;
    top: 8px;
    right: 375px;
	border-radius: 5px;
}

a.btn-menu-download:hover::after {
    top: 5px;
}

/**** Slide Show ****/
.mySlides{
	display:none;
}


/********** Rodapé **********/
#rodape {
    width: 100%;
	height:100px;
}

#container-footer{
	border-top: 1px solid white;
	margin:0px 80px;
}

#container-footer span, #container-footer span{
	color:white;
}

.footer-left{
	float:left;
}

.footer-right{
	float:right;
}

.footer-left, .footer-right {
    padding: 30px 0px;
}

/********** Home **********/
#pagina-home .container{
	margin:50px;
}

/********** Accordion - FAQ **********/
.accordion {
  background-color: #858585;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #7c128c!important;
}

.panel {
  padding: 0 18px;
  background-color: #f1f1f1;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion:before {
  content: '+';
  font-size: 18px;
  color: white!important;
  float: right;
  font-weight: 900;
  margin-left: 5px;
}

.faixas-accordion .active:before {
  content: "-";
}

.faixas-accordion button:nth-child(1), .faixas-accordion button:nth-child(5), .faixas-accordion button:nth-child(9) {
    background-color: #606060;
}


/********** Contato **********/
#contato{
	padding:100px 0px 50px 0px;
}

/***** Slider *****/
/* Slideshow container */
.slideshow-container {
  position: relative;
  overflow-x: clip !important;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/***** Equipe *****/
.foto-perfil{
	background-color: white;
    border-radius: 200px;
    margin: 50px 80px;
}

.nome-perfil{
	font-size:40px!important;
}

.equipe-left{
	margin: 50px 0px 50px 80px;
	text-align: left;
	float:left;
}

.equipe-right{
	margin: 50px 80px 50px 0px;
	float:right;
	text-align: right;
}

.descricao-perfil{
    font-size: 25px;
	line-height:1.5;
}

/***** Formulário para atualizações *****/
.form-atualizacoes {
    padding: 50px 100px;
    background-color: #858585;
}

.form-atualizacoes form {
    display: grid;
    grid-template-columns: 25% 30% 35% 10%;
}

.form-atualizacoes label {
    color: white;
    font-size: 25px;
    font-weight: 600;
}

.form-atualizacoes input {
    font-size: 22px;
    background-color: #494949;
    border-radius: 5px;
    width: 90%;
    color: white;
    border: none;
    padding: 5px 10px;
}

.form-atualizacoes button {
    background-color: #494949;
    color: white;
    font-size: 22px;
    padding: 5px 22px;
    border: none;
    border-radius: 5px;
}

.form-atualizacoes button:hover {
    background-color: #a805c3;
    cursor: pointer;
}

/****** Elementos que levam a outras páginas *****/

/***** Simples *****/

/**** Com texto ****/
.widget-nova-page{
	display: grid;
    grid-template-columns: 70% 30%;
    padding: 50px 80px;
    background-color: #858585;
}